/* General setup */

html, body {
    margin: 0;
    padding: 1%;
  }
  
  body {
    width: 75%;
    min-width: 800px;
    margin: 0 auto;
  }

header {
margin-bottom: 10px;
}

/* table of contents */
nav {
    height: 65px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline-block;
    text-align: center;
    flex: 1;
  }

/* image aside */

aside {
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }

  aside a {
    display: block;
    float: right;
    width: 20%;
  }

  aside img {
    max-width: 100%;
    padding: 5%;
  }