html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "bookmania", serif;
    font-size: 48px;
    font-weight: 800;
    background-color: #081C15;
    color: #081C15;
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #D8F3DC;
    border-radius: 10px;
  }
  
  header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #081C15;
  }
  
  .book {
    font-weight: 400;
    padding: 20px 50px ;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cover{
    max-width: 80%;
  }
  
  .book-description {
    padding: 10px;
    padding-bottom: 0;
    font-size: 24px;
  }
  
  .controls {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .button, .link {
    font-family: "bookmania", serif;
    font-weight: 800;
    display: block;
    color: #081C15;
    border: 1px solid #081C15;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 80%;
    font-size: 24px;
    transition: background-color 0.5s, color 0.5s;
  }

  .new-book {
    background-color: #b2d9f6;
    margin-bottom: 15px;
  }
  
  .new-book:hover {
    background-color: #e4b3d0;
  }

  .link {
    background-color: #6eb4aa;
    text-decoration: none;
  }
  
  .link:hover {
    background-color: #8d84bb;
  }

  .added{
    color: #D8F3DC;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .book-text {
      font-size: 18px;
    }
  }