/* general styling */
body{
    display: flex;
    flex-direction: column;
}
article{
    padding: 10px;
}
h2{
    margin: 0;
    padding: 0;
}

/* typographic styling */
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
h1{
    font-size: 70px;
    margin-bottom: 0;
    padding-bottom: 0;
}
h1, h2, .header, h4, .button{
    text-align: center;
    font-family: "bookmania", serif;
    font-weight: 100px;
}

.event ul{
    list-style: none outside;
    text-align: left;
}

/* navbar styling */
nav{
    font-family: "bookmania, serif";
    font-size: 24px;
    height: 70px;
    position: sticky;
    top: 0%;
    background-color: black;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}
nav a{
    transition: color .25s;
}
nav a:hover{
    color:#1B998B;
}
h4{
    font-size: 24px;
    transition: color .25s;
}
h4:hover{
    color:#1B998B;
}

/* article styling */
.event{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
    justify-content: space-evenly;
    border: white solid 1px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.header{
    padding: 20px;
    font-size: 20px;
}
.date{
    grid-column: 1;
    grid-row: 2;
}

.desc{
    text-align: left;
    grid-column: 2;
    grid-row: 2;

}

.button{
    grid-column: 3;
    grid-row: 1/2;
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 3px;
    max-width: 80px;
    max-height: 40px;
    padding: 10px;
}

input, .desc {
    display: none;
  }
  
  /*position the label*/
  label {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  /*show the submenu when input is checked*/
  input:checked~.desc {
    display: block;
  }

.popup {
    grid-column: 1;
    grid-row: 1;
  }
  
.popuptext {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
    position: absolute;
    width: 800px;
    margin: auto;
}
.popuptext p{
    font-size: 20px;
}

.show {
    visibility: visible;
    animation: fadeIn 0.5s
}

/* animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}