h1 {
  font-family: "bookmania", serif;
  font-weight: 400;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
  background-color: #081C15;
  color: #D8F3DC;
  
}

.full-img {
  position: relative;
  display: block;
  margin-top: 50px;
  width: 640px;
  height: 480px;
  background-color: black;
}

.full-img img {
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  font-family: "bookmania", serif;
  color: #081C15;
  border: 0;
  background: rgba(8,28,21,0.3);
  border: 1px solid #081C15;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}
.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}

#ball{
  background-color: #e4b3d0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  animation: ball-animation 5s linear infinite;
}

@keyframes ball-animation{
    from {
        margin: 0%;
        background-color: #e4b3d0
    }
    25%{
        background-color: #6eb4aa
    }
    50%{
        margin-left: 97%;
        background-color: #8d84bb
    }
    75%{
        background-color: #b2d9f6
    }
    to {
        margin: 0%;
        background-color: #e4b3d0
    }
}
