html {
    font-size: 16px;
    background: #f2f2f2;
  }
  
  .container {
    background: #fff;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .selected {
    background: #fff;
    display: none;
    width: 50%;
    margin-top: 1em;
    padding: 0.01em 1em;
    border-radius: 0 4px 4px 0;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.25)
  }
  
  .flex-item {
    flex: 0 1 auto;
    background: #1c8900;
    height: 240px;
    margin: 2em;
    min-width: 480px;
    border-radius: 4px;
    opacity: 1;
    transition: all .25s ease-in-out;
    animation: fadeIn 0.25s;
  }
  
  .card-hide {
    opacity: 0;
  }
  
  /* Because the cards are removed from the DOM,
   there needed to be an animation added to the parent element to fade them in. The CSS transition wasn't being applied when the display was set to block. */
   @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  } 